:root {
  --wine-red: #c7375f;
  --bright-red: #d42d2f;
  --dark-green: #344d2f;
  --light-green: #77a047;
  --gold: #fac57d;
  --snow: #f0f4f7;
}

html,
body {
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 1px #d42d2f;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--dark-green);
  background-image: url("https://media3.giphy.com/media/wPn31WOCzkvKg/200.webp?cid=ecf05e47ywlbzgsbgxvpyfgyxhroz0km4v17b4jw1rqmg1lz&ep=v1_gifs_search&rid=200.webp&ct=g");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  background: transparent;
  color: var(--snow);
  padding: 1em 2em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: 20px;
  width: 400px;
}

.container:hover {
  background-image: url("https://media3.giphy.com/media/l3vRd9SNxXy9Md4TC/200w.webp?cid=ecf05e47r62ytbg74kqa325mx4v6p3fqotib8tvhq9fjdxlu&ep=v1_gifs_related&rid=200w.webp&ct=g");
  background-size: cover;
}

.countdown-display {
  font-size: 100px;
  margin: 0;
}
